$padding: 8px;
$padding-btn: 3px 8px;
$margin: 8px;
$radius: 5px;
$red: #ff0000;
$blue: #304ffe;
$blue-light: #00ccff; 
$orange: #fdd835;
$white: #ffffff;
$black: #000000;
$green: #009900;
$shadow: #eaeaea;

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: $margin*5 0;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

.pointer {
  cursor: pointer;
}

.text-red {
  color: $red;
}

.text-blue {
  color: $blue;
}

.btn {
  cursor: pointer;
  margin: $margin;
  padding: $padding;
  &:hover {
    box-shadow: 0 0 8px $shadow;
  }
}

.addToCart {
  background: $blue;
  border: 1px solid $blue;
  color: $white;
  border-radius: $radius;
  cursor: pointer;
  padding: $padding-btn;
  margin: $margin 0 $margin $margin;
  &:hover {
    background: $green;
    border: 1px solid $green;
    color: $white;
  }
}

.showInfo {
  background: $blue-light;
  border: 1px solid $blue-light;
  color: $white;
  border-radius: $radius;
  cursor: pointer;
  padding: $padding-btn;
  margin: $margin 0 $margin $margin;
  &:hover {
    background: $orange;
    border: 1px solid $orange;
    color: $black;  
  }
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}